.navbar {
  width: 100%;
  background-color: #f7f3ed;
  border-bottom: 1px solid #e5dfd5;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #24382f;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links a {
  color: #24382f;
  text-decoration: none;
  font-size: 15px;
}

.nav-links a:hover {
  color: #b65c35;
}

.join-btn {
  background-color: #24382f;
  color: white;
  text-decoration: none;

  padding: 11px 22px;
  border-radius: 6px;

  font-size: 14px;
  font-weight: 600;
}

.join-btn:hover {
  background-color: #17271f;
}
